.profile_image{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.inp{
    border: solid 1px #F5F5F5;
    width: 300px;
    border-radius: 8px;
    height: 25px;
    background-color: #D5D5D5;
    display: flex;
    padding: 5px;
}
.inp input{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
}
.mon{
    background-image: url(../image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 140px;
    background-position: center ;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inpp{
    border: solid 1px #F5F5F5;
    width: 500px;
    border-radius: 8px;
    height: 25px;
    background-color: #D5D5D5;
    display: flex;
    padding: 5px;
}
.inpp input{
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
}

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
    font-size: 20px;
    width: 25%;
    border-radius: 10px;
    margin-right: 10px;
    outline: none;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .active, .btn:hover {
    background-color: #15A362;
    color: white;
    font-size: 20px;
    outline: none;
    /* width: 268px; */
  }
  .per input, select, textarea{
    background-color: #F5F5F5;
    height: 30px;
    padding: 5px;
    border: solid 1px #000;
    border-radius: 8px;
    width: 300px;
  }
  .per label{
    width: 200px;
  }